numpy
pandas
sqlalchemy
Flask
gunicorn
pandarallel
json5
datetime
databases
asyncpg
psycopg2
azure-core
azure-eventhub
azure-identity
azure-schemaregistry
azure-schemaregistry-avroserializer
fastapi
okta-jwt
okta-jwt-verifier
httptools==0.1.*
httpx